DEV_SERVER_IP=x.x.x.x
GITLAB_RUNNER_TOKEN=glrt-xxxxxxxx
ANSIBLE_USER=admin
GITLAB_URL=https://gitlab.com/
GITLAB_RUNNER_DESCRIPTION=product-catalog-dev-runner
GITLAB_RUNNER_EXECUTOR=docker
GITLAB_RUNNER_DEFAULT_IMAGE=docker:27-cli
